body{
    min-width:1170px;
}

.container{
    max-width:1170px;
    width: 50%;
    margin:0 auto;
    padding:0px 40px;

}


    


header{
    height:120px;
    background-color: black;
    color:white;
    width: 100%;
    
    z-index:10;
    
}
.header-title{
    display:flex;
    line-height:120px;
    float:left;

}


header img{
    width:60px;
    height:60px;
    float:left;
    margin-top:40px;
    
}

header h1{

    font-size: 25px;
    width:100%;
    
    
    
  
  }

  .greet-wrapper{
      padding-top:80px;
  }

  .greet-wrapper span{
      color:red;
  }

  .index{
    border-bottom:4px solid black;
  }

  .puu{
      margin-top:30px;
      float:left;
      margin-right:10px;
      position:absolute;
      z-index: 8px;
      
  }

  .puu img{
    width:200px;
    height:200px;
    padding-top:100px;
  }

  

  .greet img{
      width: 350px;
      position:relative;
      left:250px;
      
  }

  .greet p{
      font-size: 10px;
      z-index:9;
      position:relative;
      bottom:200px;
      left:300px;
      font-weight:normal;
  }

  .explain-wrapper{
      margin-top:60px;
  }

  .explain-wrapper h1{
      margin-bottom:30px;
  }

  .explain-wrapper p{
      font-size:20px;
  }

  .explain-wrapper span{
      color:blue;
  }

  .re-main{
      display:flex;
      font-size:20px;
      
  }

  .re-main li{
      margin-bottom:10px;
      
      
  }

  .re-main li span{
    border-bottom:deeppink solid 1px;
    
    
}



  .re-wrapper{
      margin-top:60px;

  }

  .re-wrapper img{
      width:140px;
      float:left;
      
}

ranking-wrapper{
    margin-top:60px;
}

.character-rank{
    margin-top:60px;
}

.character{
    display:flex;
    font-size:20px;
}

.character li{
    list-style: none;
}

.character span{
  font-size:30px;
  color:deeppink;
}

.iron-man{
    width:300px;
}

.cap{
    width:300px;

}

.vision{
    width:300px;
}

.thor{
    width:280px;
}

.starange{
    width:300px;
}

.marvel{
    width:300px;
}

.message{

}

.not{
    font-size:30px;
    color:red;
    
}


.happy {
    margin-left:150px;
    font-size:25px;
    font-weight:100;
    color:black;
}

.hope {
    
    color:red;
    font-weight:200;

}

.ability{

    color:red;
}

.hero{
    color:red;
    font-size: 20px;
}

.assemble{
    display: flex;
    margin-top:200px;
}

.assemble img{
    width:150px;
}

.assemble p{
    font-size:40px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    margin-left:15px;

}
